<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>BELTAPAZ</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/tablet.css">
    <link rel="stylesheet" href="assets/css/mobile.css">

    <!--[if IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
<div class="wrapper">
    <!-- header -->
    <header class="header">
        <div class="header-top">
            <div class="basic_width clearfix_">
                <div class="mobile-nav__close desktop_none">
                    Закрыть
                </div>

                <div class="mobile-nav__search desktop_none">
                    <form action="" method="post" class="clearfix_ mobile-nav__search-form">
                        <input class="mobile-nav__search-el" type="text" placeholder="Поиск...">
                        <input class="mobile-nav__search-el" type="submit" value="">
                    </form>
                </div>

                <nav class="mobile-top-nav  desktop_none">
                    <ul class="mobile-top-nav__list">
                        <li class="mobile-top-nav__el"><a href="">Продукция</a></li>
                        <li class="mobile-top-nav__el"><a href="">Услуги</a></li>
                        <li class="mobile-top-nav__el"><a href="">Дилеры</a></li>
                    </ul>
                </nav>
                <nav class="header-top__nav">
                    <ul class="">
                        <li class="header-top__nav-el"><a href="#">О компании</a></li>
                        <li class="header-top__nav-el"><a href="#">Новости</a></li>
                        <li class="header-top__nav-el"><a href="#">Контакты</a></li>
                        <li class="header-top__nav-el"><a href="#" class="active">Покупателям</a></li>
                        <li class="header-top__nav-el"><a href="#">Выставки</a></li>
                        <li class="header-top__nav-el"><a href="#">Социальная сфера</a></li>
                    </ul>
                </nav>

                <div class="dropdown-lang">
                    <div class="dropbtn-lang" data-lang="ru">Русский</div>
                    <div class="dropdown-lang-content">
                        <a href="#" data-lang="eng">English</a>
                        <a href="#" data-lang="ger">German</a>
                        <a href="#" data-lang="sp">Spanish</a>
                    </div>
                </div>

                <div class="social-top">
                    <div class="social-top__item youtube"><a href="#"></a></div>
                    <div class="social-top__item le"><a href="#"></a></div>
                    <div class="social-top__item hz"><a href="#"></a></div>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="basic_width clearfix_">
                <a href="" class="header-bottom__logo"><img src="assets/images/logo.png" alt=""></a>
                <nav class="header-bottom__nav" id="header-bottom__nav">
                    <ul class="header-bottom__nav-links">
                        <li class="header-bottom__nav-link"><a href="">Продукция</a></li>
                        <li class="header-bottom__nav-link"><a class="active" href="">Услуги</a></li>
                        <li class="header-bottom__nav-link"><a href="">Дилеры</a></li>
                    </ul>
                </nav>
                <form action="" method="post" class="clearfix_ header-bottom__search">
                    <input class="header-bottom__search-el" type="text" placeholder="Поиск...">
                    <input class="header-bottom__search-btn" type="submit" value="">
                    <div class="header-bottom__search-close">Закрыть</div>
                </form>
            </div>
        </div>

    </header>

    //= breadcrumbs.html